/*--------------------Fuentes locales-------------------- */
@font-face {
  font-family: "amaticBold";
  src: url("../fonts/Amatic_SC/AmaticSC-Bold.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "amaticRegular";
  src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
  font-display: swap; }

/*------------------------------------------------------- */
/* ----------------RESETEO DE VALORES----------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

/*--------------------ETIQUETAS-------------------- */
body {
  background-image: url("../media/image/components/fondo.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "New Tegomin"; }

main {
  margin: 20px; }

a {
  color: #000000;
  font-weight: bold; }
  a:visited {
    color: unset; }
  a:hover {
    color: unset; }

/* --------------SECCIONES--------------*/
.row {
  margin-left: 0;
  margin-right: 0; }

.media-icon-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.video-size {
  width: 75%; }

.seccion-blanco {
  border-radius: 10px;
  border: 2px solid;
  border-color: #252525;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 12px 10px 18px -1px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 12px 10px 18px -1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 12px 10px 18px -1px rgba(0, 0, 0, 0.67); }
  .seccion-blanco .media-icon-container {
    align-items: flex-start; }
  .seccion-blanco h2 {
    text-shadow: 0 0 1px #449898, -1px -1px 0 #449898,   1px -1px 0 #449898, -1px 1px 0 #449898, 1px 1px 0 #449898; }

.seccion-negro {
  border-radius: 10px;
  border: 2px solid;
  border-color: #64dfdf;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #252525;
  color: #f5f5f5;
  box-shadow: -11px 10px 18px -1px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -11px 10px 18px -1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -11px 10px 18px -1px rgba(0, 0, 0, 0.67); }
  .seccion-negro a {
    color: #f5f5f5; }

/*-----------------ENFASIS-----------------*/
.word-danger {
  color: #ff4949;
  font-weight: bold; }

.word-highlight {
  color: #64dfdf;
  font-weight: bold; }

/*-----------------FIN ENFASIS-----------------*/
/*--------------HEADER--------------*/
header {
  background-color: transparent; }
  header:hover {
    cursor: url(../media/image/components/cursorMaquina.svg), auto; }
  header #logo {
    z-index: 1; }
    header #logo img {
      margin-top: -60px;
      width: 170px; }
    header #logo:hover {
      cursor: url(../media/image/components/manchaCursor.svg), auto; }
  header nav {
    background-color: #f5f5f5;
    border-top: solid #000000 3px;
    border-bottom: solid #000000 3px;
    margin-top: -35px; }
    header nav li {
      width: 150px;
      box-shadow: -9px 12px 14px 1px rgba(0, 0, 0, 0.36);
      -webkit-box-shadow: -9px 12px 14px 1px rgba(0, 0, 0, 0.36);
      -moz-box-shadow: -9px 12px 14px 1px rgba(0, 0, 0, 0.36); }
      header nav li a {
        text-decoration: none;
        padding: 10px;
        text-align: center; }
        header nav li a:hover {
          animation: change-color 1s;
          border-radius: 3px;
          color: #000000 !important;
          cursor: url(../media/image/components/manchaCursor.svg), auto; }
    header nav .navbar-brand {
      font-family: "amaticBold";
      color: #252525;
      font-size: 2rem;
      font-weight: bold; }
    header nav .nav-item {
      background-color: #252525;
      border: solid #000000 3px; }
  header .titulo-negro {
    color: #252525;
    font-family: "amaticBold";
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 15px;
    margin-bottom: 0; }
  header .subtitulo-turquesa {
    color: #64dfdf;
    font-family: "amaticBold";
    font-size: 2rem;
    margin-bottom: 0; }
  header .rayita {
    border-top: solid #000000 3px;
    border-bottom: solid #000000 3px;
    background-color: #f5f5f5;
    height: 60px;
    margin-top: 55px;
    margin-bottom: 50px;
    width: 100%; }

/* --------------FIN HEADER-------------- */
/* --------------FORMULARIO contacto.html-------------- */
form {
  background-color: #f5f5f5;
  font-weight: bold;
  width: 50%;
  border: dashed #000000 3px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -23px 29px 57px -3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: -23px 29px 57px -3px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: -23px 29px 57px -3px rgba(0, 0, 0, 0.46);
  display: flex;
  flex-direction: column; }
  form .form-button {
    background-color: #252525;
    color: #f5f5f5; }

/* -----------------------FIN FORMULARIO---------------------------- */
/* --------------H's-------------- */
.h1-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .h1-container h1 {
    color: #252525;
    font-family: "amaticBold";
    font-size: 5rem;
    background-color: #f5f5f5;
    border: solid #000000 3px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    width: fit-content;
    padding: 4px;
    box-shadow: -18px 21px 32px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -18px 21px 32px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -18px 21px 32px -6px rgba(0, 0, 0, 0.4); }

.h1-transform-h2, h2 {
  color: #64dfdf;
  font-family: "amaticBold";
  font-size: 2.8rem; }

h3 {
  font-family: "amaticBold";
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 4px; }

/* --------------FIN H's--------------*/
/* --------------FOOTER-------------- */
footer {
  background-color: #252525;
  border: solid #000000 3px;
  border-left: 0;
  border-right: 0;
  padding: 20px;
  color: #f5f5f5;
  margin-bottom: 15px; }

/* ------------FIN FOOTER------------- */
/*---------ELEMENTOS DE MOBILE---------*/
#dropdown-mobile, #brand-mobile, #icon-mobile, .link-xs {
  display: none; }

.accordion {
  background-color: violet; }

/*---------FIN ELEMENTOS DE MOBILE---------*/
/*FLECHA SUBIR */
#fixed-arrow {
  position: fixed;
  right: 0px;
  bottom: 25px;
  z-index: 100; }
  #fixed-arrow a {
    background: #64dfdf;
    height: 50px;
    width: 50px;
    border-radius: 30px 0 0 30px;
    border-top: solid #000000 3px;
    border-bottom: solid #000000 3px;
    border-left: solid #000000 3px; }

/*------------*/
/* -----------------CAROUSEL MIS TATUS----------------- */
#sobre-mi .width-carousel {
  width: 30%; }

#sobre-mi .borde-carousel {
  border-radius: 8px;
  border: 3px solid #252525; }

#sobre-mi .img-carousel {
  border-radius: 5px; }

#sobre-mi #carousel-mis-tatus .carousel-caption {
  margin-bottom: 0; }

#sobre-mi #carousel-mis-tatus .caption {
  background-color: #252525;
  border: solid 1px #f5f5f5;
  border-radius: 12px;
  font-family: "amaticBold";
  font-size: 1.25rem;
  margin-bottom: 0; }

/* ------------------------------------------ */
/*-----------------CAROUSEL TATUADORES/ESTILOS----------------- */
#tatuadores .carousel {
  border-radius: 8px;
  border: 3px solid #252525; }
  #tatuadores .carousel .carousel-item img {
    border-radius: 3px; }

#tatuadores .seccion-negro .carousel {
  border: 3px solid #64dfdf; }

/* ------------------------------------------ */
/*--------------------BOTONERAS--------------------*/
#botonera .botonera-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  background-color: #64dfdf;
  padding: 20px 80px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  border-bottom: 6px solid #21a2a2;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 3px 5px;
  position: relative; }
  #botonera .botonera-item:hover {
    border-bottom: 0; }

/*--------------------FIN BOTONERAS--------------------*/
/* --------------------GRIDS-------------------- */
.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; }

.grid-estudios, .grid-estilos, .grid-tatuadores {
  width: fit-content;
  height: fit-content;
  margin: 40px;
  text-align: center;
  gap: 30px;
  display: grid; }

.grid-estudios {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.grid-estilos {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.grid-tatuadores {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

/* --------------------FIN GRIDS-------------------- */
/*  ---------------DROPDOWN - BUSCADOR ------------- */
#dropdown-mobile .dropdown-item {
  width: 100%;
  text-align: center; }

#dropdown-mobile .dropdown-menu {
  border: solid #000000 3px;
  background-color: #f5f5f5;
  box-shadow: 1px 14px 22px 8px rgba(100, 223, 223, 0.64);
  -webkit-box-shadow: 1px 14px 22px 8px rgba(100, 223, 223, 0.64);
  -moz-box-shadow: 1px 14px 22px 8px rgba(100, 223, 223, 0.64); }
  #dropdown-mobile .dropdown-menu a {
    color: #000000;
    font-weight: bold; }

#dropdown-mobile #dropdown-button-buscador {
  border: solid #000000 3px;
  font-family: "amaticBold";
  background-color: #64dfdf;
  font-size: 1.5rem; }

/* --------------- FIN DROPDOWN BUSCADOR ------------- */
/*--------------ALERTA ESTUDIOS--------------*/
.alert {
  background-color: #64dfdf;
  border: solid #000000 3px;
  float: center;
  color: #000000; }

/*-------------------------------------------*/
/*--------------ACCORDION--------------*/
.accordion {
  border: solid #000000 3px; }

.accordion-item {
  border: solid #000000 3px; }

.accordion-collapse {
  background-color: #f5f5f5; }

.accordion-body {
  color: black; }

.accordion-button {
  background-color: #8ee8e8;
  color: #f5f5f5; }

.accordion-button.collapsed {
  color: #000000; }

.accordion-button:not(.collapsed) {
  background-color: #64dfdf;
  color: #252525; }

.accordion-button:focus {
  border-color: #000000; }

/*--------------FIN ACCORDION--------------*/
/* --------------------FLIP CARD TRANSFORMATION-------------------- */
.grid-estudios .flip-card {
  width: 350px;
  height: 350px;
  perspective: 1000px; }

.grid-estudios .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.8s;
  -webkit-transform-style: preserve-3d; }

.grid-estudios .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }

.grid-estudios .flip-card-front, .grid-estudios .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 30px;
  border: dashed #000000 3px;
  border-color: #000000; }

.grid-estudios .flip-card-front {
  color: black;
  font-family: "amaticBold";
  font-size: 5rem;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center; }

.grid-estudios .flip-card-back {
  color: #ffffff;
  background-color: #252525;
  border-color: #f5f5f5;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  font-size: 2rem; }

.grid-estudios .flip-card-back p {
  font-weight: bold;
  margin: 4px; }

.grid-estudios .flip-card-back a {
  text-decoration: none; }

.grid-estudios #flip iframe {
  height: 55%;
  width: 95%;
  margin-top: 20px; }

/* --------------------FIN FLIP CARD TRASNFORMATION-------------------- */
/* --------------------ANIMACION--------------------*/
@keyframes change-color {
  0% {
    background-color: unset; }
  100% {
    background-color: #f5f5f5; } }

/* --------------------FIN ANIMACION-------------------- */
/*--------------404-------------------------*/
#page404 {
  height: 100vh;
  background-image: url(../media/image/components/404bg.svg); }
  #page404 #section-404 {
    font-weight: bold;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: solid #000000 3px;
    width: 50vh; }
    #page404 #section-404 .text-404 {
      text-align: center; }
      #page404 #section-404 .text-404 h1 {
        font-family: "Shrikhand", cursive; }
      #page404 #section-404 .text-404 .homebtn {
        background-color: #64dfdf;
        text-decoration: none;
        text-align: center;
        border: solid #000000;
        border-radius: 8px;
        font-family: "Shrikhand",cursive; }

/*----------------------FIN 404--------------------*/
/* -----------------MEDIA QUERIES----------------- */
/* iPhone 4 ----------- */
@media only screen and (max-width: 319px) {
  /* --------GENERALES-------- */
  main {
    margin: 5px; }
  .seccion-negro {
    padding: 10px; }
  .seccion-blanco {
    padding: 10px; }
  h2 {
    text-align: center; }
  .reverse-mobile {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse; }
  .mobile-display-none {
    display: none; }
  #dropdown-mobile {
    display: flex;
    justify-content: center; }
  #brand-mobile {
    display: unset; }
  #icon-mobile {
    display: none; }
  .link-xs-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center; }
    .link-xs-container .link-xs {
      display: unset;
      width: 100vh;
      background-color: #F277A4;
      border-radius: 15px;
      border: solid #000000 3px;
      padding: 4px;
      text-decoration: none;
      font-family: "amaticBold";
      font-size: 1.2rem;
      font-weight: bold; }
  form {
    width: 100%; }
  #fixed-arrow a {
    height: 40px;
    width: 40px;
    border-radius: 30px 0 0 30px; }
  .video-size {
    width: 100%;
    height: 90%;
    margin-top: 10px; }
  /* --------------- */
  /* -----CAROUSEL MIS TATUS----- */
  #sobre-mi .carousel-caption {
    height: 100%; }
  #sobre-mi .carousel-caption .caption {
    margin-top: 4px; }
  #sobre-mi .width-carousel {
    width: 90%; }
  /* --------------- */
  /* --------ESTUDIOS-------- */
  .grid-estudios {
    display: flex;
    flex-direction: column; }
    .grid-estudios .flip-card {
      width: 200px;
      height: 200px; }
    .grid-estudios .flip-card-back {
      font-size: 1rem; }
    .grid-estudios .flip-card-front {
      font-size: 2.2rem; }
    .grid-estudios #flip iframe {
      height: 100px;
      width: 95%; }
    .grid-estudios #flip img {
      width: 25px; }
  /* ------------------------ */ }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 380px) {
  /* --------GENERALES-------- */
  main {
    margin: 5px; }
  .reverse-mobile {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse; }
  .mobile-display-none {
    display: none; }
  #dropdown-mobile {
    display: flex;
    justify-content: center; }
  #brand-mobile {
    display: unset; }
  #icon-mobile {
    display: unset; }
  form {
    width: 100%; }
  .video-size {
    width: 70%;
    height: 70%;
    margin-top: 10px;
    margin-left: 30px; }
  /* ------------------------ */
  /* -------CAROUSEL MIS TATUS-------- */
  #sobre-mi .width-carousel {
    width: 70%; }
  #sobre-mi .carousel-caption {
    height: 100%; }
  #sobre-mi .carousel-caption .caption {
    margin-top: 4px; }
  /* ------------------------ */
  /* --------ESTUDIOS-------- */
  .grid-estudios {
    display: flex;
    flex-direction: column; }
    .grid-estudios .flip-card {
      width: 300px;
      height: 300px; }
    .grid-estudios .flip-card-back {
      font-size: 1.25rem; }
    .grid-estudios .flip-card-front {
      font-size: 3.75rem; }
    .grid-estudios #flip iframe {
      height: 55%;
      width: 95%; }
    .grid-estudios #flip img {
      width: 15%; }
  /* ------------------------ */ }

@media only screen and (min-width: 381px) and (max-width: 480px) {
  /* --------GENERALES-------- */
  main {
    margin: 5px; }
  .mobile-display-none {
    display: none; }
  .reverse-mobile {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse; }
  #dropdown-mobile {
    display: flex;
    justify-content: center; }
  #brand-mobile {
    display: unset; }
  #icon-mobile {
    display: unset; }
  form {
    width: 100%; }
  .video-size {
    width: 70%;
    height: 70%;
    margin-top: 10px;
    margin-left: 30px; }
  /* ------------------------ */
  /* ---CAROUSEL MIS TATUS--- */
  #sobre-mi .width-carousel {
    width: 70%; }
  #sobre-mi .carousel-caption {
    height: 100%; }
  #sobre-mi .carousel-caption .caption {
    margin-top: 4px; }
  /* --------------- */
  /* --------ESTUDIOS-------- */
  .grid-estudios {
    display: flex;
    flex-direction: column; }
    .grid-estudios .flip-card {
      width: 300px;
      height: 300px; }
    .grid-estudios .flip-card-front {
      font-size: 2.5rem; }
    .grid-estudios .flip-card-back {
      font-size: 1.5rem; }
    .grid-estudios #flip iframe {
      height: 60%;
      width: 95%; }
    .grid-estudios #flip img {
      width: 15%; }
  /* ------------------------ */ }

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* --------GENERALES-------- */
  form {
    width: 100vh; }
  .mobile-display-none {
    display: none; }
  #brand-mobile {
    display: unset; }
  #icon-mobile {
    display: unset; }
  #dropdown-mobile {
    display: flex;
    justify-content: center; }
  /* ------------------------ */
  .reverse-mobile {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse; }
  /* --------ESTUDIOS-------- */
  .grid-estudios {
    display: flex;
    flex-direction: column; }
  /* ------------------------ */
  /* -------CAROUSEL MIS TATUS-------- */
  #sobre-mi .width-carousel {
    width: 50%; }
  #sobre-mi .carousel-caption {
    height: 100%; }
  #sobre-mi .carousel-caption .caption {
    margin-top: 4px; }
  /* ------------------------ */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* --------GENERALES-------- */
  #marca {
    font-size: 1.6rem; }
  #slogan {
    font-size: 1.6rem; }
  form {
    width: 50vh; }
  /* -------CAROUSEL MIS TATUS-------- */
  #sobre-mi .width-carousel {
    width: 60%; }
  /* ------------------------ */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

/* ------------FIN MEDIA QUERIES------------ */
