footer{
    background-color: #252525;
    border-top: solid;
    border-bottom: solid;
    border-color:   black;
    padding: 20px; 
    color:black;
    color: whitesmoke;
    margin-bottom: 15px;
}