@import 'variables';

/* --------------FOOTER-------------- */
footer{
    background-color: $color2;
    border: $borde-basic;
    border-left: 0;
    border-right: 0;
    padding: 20px; 
    color: $color5;
    margin-bottom: 15px;
}
/* ------------FIN FOOTER------------- */