/* --------------FORMULARIO contacto.html-------------- */
form{
    background-color:whitesmoke;
    font-weight: bold;
    width: 50%;
    border:#252525 dashed;
    border-radius: 10px;
    padding: 20px;
    box-shadow: -23px 29px 57px -3px rgba(0,0,0,0.46);
    -webkit-box-shadow: -23px 29px 57px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: -23px 29px 57px -3px rgba(0,0,0,0.46);
    display: flex;
    flex-direction: column;

    .form-button{
        background-color: #252525;
        color: whitesmoke;
    }
}
/* --------------FIN FORMULARIO-------------- */
