/*--------------------Fuentes locales-------------------- */
@font-face{
    font-family: "amaticBold";
    src: url("../fonts/Amatic_SC/AmaticSC-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "amaticRegular";
    src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
    font-display: swap;
}
/*------------------------------------------------------- */