@import 'variables';

/* ----------------RESETEO DE VALORES----------------*/
*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

/*--------------------ETIQUETAS-------------------- */

body{
    background-image: url("../media/image/components/fondo.svg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "New Tegomin";
}

main{
    margin: 20px;
}

a{
    color: $color1;
    font-weight: bold;

    &:visited{
        color: unset;
    }

    &:hover{
        color: unset;
    }

}
/* --------------SECCIONES--------------*/
.row{
    margin-left: 0;
    margin-right: 0;
}
.media-icon-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.video-size{
    width: 75%;
}


// MIXIN
@mixin secciones ($backgroundColor,$borderColor){
    border-radius: 10px;
    border: 2px solid;
    border-color: $borderColor;
    margin-top:10px;
    margin-bottom:10px;
    padding: 20px;
    background-color: $backgroundColor ;
    @if $backgroundColor == $color2{
        a{
            color: $color5;
        }
        color: $color5;
    }
}
.seccion-blanco{
    @include secciones($color5,$color2);

    box-shadow: 12px 10px 18px -1px rgba(0,0,0,0.67);
    -webkit-box-shadow: 12px 10px 18px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: 12px 10px 18px -1px rgba(0,0,0,0.67);
    .media-icon-container{
        align-items: flex-start;
    }
    h2{
        text-shadow:
            0 0 1px #449898,
            -1px -1px 0 #449898,  
            1px -1px 0 #449898,
            -1px 1px 0 #449898,
            1px 1px 0 #449898;
    }
}

.seccion-negro{
    @include secciones($color2,$color3);

    box-shadow: -11px 10px 18px -1px rgba(0,0,0,0.67);
    -webkit-box-shadow: -11px 10px 18px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: -11px 10px 18px -1px rgba(0,0,0,0.67);

}

// -----------------MAPA------------------//

$enfasis:(
    danger: $danger-color,
    highlight: $highlight-color,
);

@each $enfatizar, $color in $enfasis{
    .word-#{$enfatizar}{
        color: $color ;
        font-weight: bold;
    }
}
//---------------------------------------//