@import 'variables';

/*--------------HEADER--------------*/
header{
    background-color: transparent;
    &:hover{
        cursor: url(../media/image/components/cursorMaquina.svg),auto;
    }

    #logo{
            z-index: 1;
                img{
                    margin-top: -60px;
                    width: 170px;
                }
                &:hover{
                    cursor: url(../media/image/components/manchaCursor.svg), auto;
                }
        }

    nav{
        background-color: $color5;
        border-top: $borde-basic;
        border-bottom: $borde-basic;
        margin-top: -35px;

        li{
            width: 150px;
            box-shadow: -9px 12px 14px 1px rgba(0,0,0,0.36);
            -webkit-box-shadow: -9px 12px 14px 1px rgba(0,0,0,0.36);
            -moz-box-shadow: -9px 12px 14px 1px rgba(0,0,0,0.36);

                a {
                    text-decoration: none;
                    padding: 10px;
                    text-align: center;

                    &:hover{
                        animation: change-color 1s;
                        border-radius: 3px;
                        color: $color1 !important;
                        cursor: url(../media/image/components/manchaCursor.svg), auto;
                    }
                } 
        }

        .navbar-brand{
            font-family: "amaticBold";
            color: $color2;
            font-size: 2rem;
            font-weight: bold;
        }

        .nav-item{
            background-color: $color2;
            border: $borde-basic;
            
        } 
    }

    .titulo-negro{
        color: $color2 ;
        font-family: "amaticBold";
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 15px;
        margin-bottom: 0;
    }

    .subtitulo-turquesa{
    color: $color3;
    font-family: "amaticBold";
    font-size: 2rem;
    margin-bottom: 0;
    }

    .rayita{
        border-top: $borde-basic;
        border-bottom: $borde-basic;
        background-color: $color5;
        height: 60px;
        margin-top: 55px;
        margin-bottom: 50px;
        width: 100%;
    }
}

/* --------------FIN HEADER-------------- */