
//Colores (Lista)
$colores:
    #000000,
    #252525,
    #64dfdf,
    #f2f2f2,
    #f5f5f5,
    #ffffff;

    //Abreviacion para no tener que escribir nth siempre
    $color1: nth($colores ,1);
    $color2: nth($colores, 2);
    $color3: nth($colores, 3);
    $color4: nth($colores, 4);
    $color5: nth($colores, 5);
    $color6: nth($colores, 6);


// Bordes
$borde-basic: solid black 3px;
$borde-detail: dashed 3px;


