
// Variables de Colores (Lista)
// Todavia no lo estoy usando
$colores:
    black,
    #252525,
    #64dfdf,
    #f2f2f2,
    whitesmoke,
    white;

// Bordes
$borde-basic: solid black 3px;
$borde-detail: dashed 3px;


